.u-center-text {
    text-align: center !important;
}

.u-margin-botton-big {
    margin-bottom: 8rem !important;
}

.u-margin-botton-medium {
    margin-bottom: 4rem !important;
}

.u-margin-botton-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}